*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
    font-family: 'Courier New', sans-serif;
    text-align: center;
}

.header{
    background-color: #f95c18;
    height: 65px;
    text-align: center;
    padding-top: 15px;
    background-image: url(img/espaguete.png);
}


.banner{
    background-position: center;
    height: 300px;
    min-height: 100%;
    background-color: #ff6a28;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-top: 60px;

}

.footer{
    background-color: #ff6a28;
    height: 50px;
    color: #f0f0f0;
    text-align: center;
    padding-top: 30px;


}

.card{
    background-color: #ffff;
    width:500px
    margin:auto;
    padding:15px;
    margin:50px auto;
    border-radius:40px;
    font-weight:300;

}

.h1{
    color: #ff6a28;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;


}

li{
    list-style-position: inside;
    line-height: 35px;


}

ul{
    margin-bottom: 40px;


}

a{
    text-decoration: none;
    background-color: #ff6a28;
    color: #f0f0f0;
    padding: 15px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 30px;

}

a:hover{
    background-color: #f95c18;

}

.titulo-receita{
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;

}
