*{
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 62.5%;
    padding: 10px;
    margin: 1px;
    border: 1px;
    p
    
    
}

.ul{
    background-color: #ff6a28;
    font-size: 20px;
   
    
}

#menu{
    text-align: left;
    background-color: #ec813f;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    padding: 10px 20px;

    

}

body{
      background-color: #ebebeb; dflgkçldf
      font-family: 'Courier New', sans-serif;
      justify-content: center;
      margin-left: 50px;
      align-items:center ;
      background-size: 100%;
      text-align: center;
      max-width: 2000px;
   
      background-position: center;
     
    

      } 


h1{
        color: #010101;
        height: 20px;
        width: 400;
        text-align: center;
        padding-top: 15px; 
        padding: 20px;
        padding-bottom: 30px;
        max-width: 400px;
        
} 

.footer{
    background-color: #ff6a28;
    height: 90%;
    color: #000000;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 12px;
    padding-bottom: 20px;
    font-size: 15px;

}

.card{
    background-color: #ffff;
    width:1205px;
    border-radius:40px;
    padding: 15px;
    margin: 1px;
    padding-left: 10px;
    padding-right: 180px;
    height: 375px;
    margin: 10px;
    
  
   
    
    
   
    
}

figure{
    text-align: center;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    border: 10px;
    text-align: justify;
    list-style: none;
    justify-content: left;
    background-image: url(img/logo.png.png);
  
    
}

.conteudo-topo{
   
    background-color: #f0f0f0;
    
    

 
}


nav{
    padding-top: 15px;
    margin-top: 40px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 5px;
    text-align: center;
}

table {
    border-radius: 55px;
    border-collapse: collapse;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-left: 10px;
    
   

  
    
    
}

table img {
    width: 400px; /* Ajuste o tamanho conforme necessário */
    height: 270px; /* Ajuste o tamanho conforme necessário */
    display: block;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 55px;
    text-align: justify;
    margin-bottom: 90px;
   
   



}


button:hover {
    background-color: #ec813f;
}


p{
    text-align: center;
    font-size: 15px;
}

#btn{
   
    color: #ffffff;
    background: #fd540c;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
}
a{
    color: #ffffff;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
   
}

a:hover{
    background-color: #ec813f;
}
h2{
    text-align: center;
}

.Menu{
    width: 300px;
}




